<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutoFullScreen" value="True" />
    <add key="StartInBoothMode" value="False" />
    <add key="AutoDetectCamera" value="True" />   <!-- If no camera is detected, boot into normal mode and allow user to select. -->
    <add key="BoothEventID" value="29CV6" />      <!-- Unique ID for event.  -->
    <add key="Backsplash Image" value=""/>        <!-- Image displayed behind camera view. -->
    <add key="Stencil Image" value=""/>           <!-- Image used as overlay on final image. -->
  </appSettings>
</configuration>